.active .fljl_page2_content_2_1{
    top:11%;
}
.active .fljl_page2_content_2_2{
    max-width:600px;
}
.active .fljl_page2_content_2_1{
    position: relative;
    left:3%;
}
.Ptxt2{
    margin-left: 0;
}
.xjh p:first-child{
    margin-top:12%;
}
.anli_page3_nr{
    top:25%
;}
.fanye{
    top:12%;
}
.gdal ul{
    width:800px;
}
.about_db_page1_content_2{
    top:180px;
}
.about_db_page1_content_2_imgzs{
    width:30%;
}
.join_us_content_1{
    padding-top:170px;
}
.active .ind-bg13{
    margin-left:-30%;
    margin-top: 20px;
}
.bg14 {
    margin-left: -37.5%;
}
.active .ind-bg15{
    margin-left:-26%;
}
.active .Product7-page1-2{
    top:70px;
}
.product_sjdz_page2_content1,.product_sjdz_page3_content1,.product_sjdz_page4_content1{
    margin-top:1%;
    width:1100px;
    margin-left:138px;
    text-align: left;
}
.product_sjdz_page2_content1 img,.product_sjdz_page3_content1 img,.product_sjdz_page4_content1 img{
    width:57%;
}
.product_sjdz_page2_content img:first-child{
    margin-top:0;
}
.product_sjdz_page2_content2,.product_sjdz_page3_content2,.product_sjdz_page4_content2{
    margin-top:10%;
}
/*行业营销*/
.active .Ptxt1{
    margin-top:100px;
}
.active .Maindiv-img2 img{
    margin-top: 3.5%;
}
.Product2 .Maindiv .Ptxt2 img{
    margin-top:76px;
}
.active .Product3, .active .Product4, .active .Product6 {
    top: 94px;
}
.Pimg5{
    margin-top:100px;
}
.active .product-page6-img1{
    margin-left:18%;
}
.product-page6-img1{
    width:15%;
}
.product-page6-img1 img{
    width:100%;
}
.active .Pimg6{
    width:1100px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.active .Pimg6 img{
    width: 68%;
}
.product_sjdz_page2_content1, .product_sjdz_page3_content1, .product_sjdz_page4_content1{
    width:841px;
}
.product_sjdz_page2_content2, .product_sjdz_page3_content2, .product_sjdz_page4_content2{
    margin-top:6%;
}
/*福利激励*/
.fljl_page1_content img{
    width:75%;
}
.fljl_page1_content{
    top:96px;
}
.fljl_page3_content_1_1{
    margin-top:60px;
}
.fljl_page3_content_2_2{
    margin-top:23px;
}
.fljl_page3_content_1_2{
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
}

.active .fljl_page2_content_2_1{
    left:17%;
    top:5%;
}
.fljl_page2_content_2_1 img{
    width:60%;
}
.active .fljl_page2_content_2_2{
    width: 300px;
    top:5%;
}
.fljl_page2_content_2_2 img{
    width:100%;
}
/*服务保障*/
.fwbz_page1_content_1{
    width: 80%;
   margin-top:90px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
}
.fwbz_page1_content_1 img{
    width: 80%;
}
.footer-content{
    padding-top:19px;
}
.address{
    margin-left:20px;
}
/*重庆惠*/
.cqh_js{
    background-size:87%;
}
/*新疆惠*/
.xjh{
    background-size: 67%;
}
/*咖啡银行*/
.anli_page3_nr {
    top: 18%;
}
/*关于点博*/
.about_db_page1_content_2{
    top:220px;
}
.about_db_page1{
    height:930px;
}
.gdal{
    margin-top:7%;
}
.gdal ul li{
    width: 28.6%;
    margin-right:30px;
}
/*加入我们*/
.td_js h2{
    font-size: 24px;
    line-height: 48px;
}
.td_js{
    top:30px;
}
.td_cy_photo{
    width: 120px;
    height: 120px;
}
.td_cy_photo img{
    width: 100%;
}
.td_cy{
    width: 646px;
    height:410px;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    top:80px;
}
.td_cy_js_2, .td_cy_js_11{
    left:131px;
}
.td_cy_js_3, .td_cy_js_12 {
    left: 262px;
}
.td_cy_js_4, .td_cy_js_13 {
    left: 393px;
}
.td_cy_js_5, .td_cy_js_14 {
    left: 524px;
}
.td_cy_js_6 {
    top: 70px;
    left: 67px;
}
.td_cy_js_7 {
    top: 70px;
    left: 197px;
}
.td_cy_js_8 {
    top: 70px;
    left: 329px;
}
.td_cy_js_9 {
    top: 70px;
    left: 460px;
}
.td_cy_js_10, .td_cy_js_11, .td_cy_js_12, .td_cy_js_13, .td_cy_js_14 {
    top: 138px;
}
.join_us a{
    left:43%;
}
.join_us_content{
    top:-635px;
}
.join_us{
    margin-bottom: 2%;
}
.td_cy_js_1 span{
    width:89px;
    height:89px;
    top:15px;
    left:15px;
}
.td_cy_js_1 p{
    width: 89px;
    top: 38.5px;
    left: 18px;
}
/*首页*/
.ind-bg11{
    background-size:90%;
}
.active .ind-bg11{
    background-size: 90%;
}
.active .numul{
    top:62px;
}
.active .numdiv{
    height:238px;
    top:84px;
}
.ind-bg17{
    background-size:30%;
}
.Pimg2 {
    margin-top: -80px;
}
.Product2 .Maindiv .Pimg2 img{
    width:63%;
}
.active .Pimg3{
    height: 327px;
}
.active .Pimg3 img{
    width: 82%;
}
.Pimg4{
    margin-top:65px;
}
.Product7-page1{
    margin-top:6%;
}
.active .Product7-page1-2{
    top:50px;
}
.active h2.num3, .active .p3{
    margin-left:-572px;
}
.active .line3 {
    margin-left: -431px;
}
.active .Product7-page1-1{
    top:20px;
}
.active .Product2 .Maindiv .Ptxt2 img {
    margin-left: 0px;
}
.active .product-page6-img1 {
    margin-left: 0%;
}
.fljl_page3_content_1_1 img, .fljl_page3_content_1_2 img {
    max-width: 100%;
}
.fljl_page3_content_1{
    width:25%;
    margin-left:auto;
    margin-right:auto;
}






























